{% extends "frontend/base.html" %}

{% block title %}Home - Shopwise{% endblock %}

{% block content %}
<!-- START SECTION BANNER -->
<div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
    <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for banner in banners %}
            <div class="carousel-item background_bg {% if loop.first %}active{% endif %}" {% if banner.image %}style="background-image: url('/uploads/{{ banner.image }}');"{% endif %}>
                <div class="banner_slide_content banner_content_inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-10">
                                <div class="banner_content overflow-hidden">
                                    <h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="0.5s">{{ banner.title }}</h2>
                                    {% if banner.link %}
                                    <a class="btn btn-fill-out staggered-animation text-uppercase" href="{{ banner.link }}" data-animation="slideInLeft" data-animation-delay="1.5s">Shop Now</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if banners|length > 1 %}
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev"><i class="ion-chevron-left"></i></a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next"><i class="ion-chevron-right"></i></a>
        {% endif %}
    </div>
</div>
<!-- END SECTION BANNER -->

<!-- START SECTION SHOP -->
<div class="section small_pb small_pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="heading_s1 text-center">
                    <h2>Featured Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in featured_products %}
            <div class="col-lg-3 col-md-4 col-6">
                <div class="product_wrap">
                    <div class="product_img">
                        <a href="{{ url_for('frontend.product_detail', id=product.id) }}">
                            <img src="/uploads/{{ product.get_main_image() }}" alt="{{ product.name }}">
                        </a>
                        <div class="product_action_box">
                            <ul class="list_none pr_action_btn">
                                <li class="add-to-cart">
                                    <form method="POST" action="{{ url_for('frontend.cart_add') }}" style="display: inline;">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="quantity" value="1">
                                        <button type="submit" class="btn-link"><i class="icon-basket-loaded"></i> Add To Cart</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product_info">
                        <h6 class="product_title"><a href="{{ url_for('frontend.product_detail', id=product.id) }}">{{ product.name }}</a></h6>
                        <div class="product_price">
                            <span class="price">${{ "%.2f"|format(product.price) }}</span>
                        </div>
                        {% if not product.is_in_stock() %}
                        <div class="text-danger">Out of Stock</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->
{% endblock %}

